.team-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .team-image {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 60px;
    }
  }
  .team-meta {
    flex: 1;
    h2 {
      margin: 0;
      font-size: 22px;
      font-weight: normal;
    }
    p {
      color: $black;
      text-transform: uppercase;
      margin: 0;
      font-size: 12px;
      font-weight: 500;
    }
  }
  .team-content {
    margin-top: 20px;
    flex: 1 0 100%;
  }
}

.team-summary-large {
  background-color: $white-offset;
  padding: 30px;
  border-radius: 3px;
  height: 100%;
  display: flex;
  align-items: center;  
  .team-image {
    height: 90px;
    width: 90px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
    }
  }
}

.team-summary-home {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  align-self: stretch;
  .team-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .team-meta {
    flex: 1;
    h2 {
      margin: 0;
      font-size: 22px;
      font-weight: normal;
    }
    p {
      color: $black;
      text-transform: uppercase;
      margin: 0;
      font-size: 12px;
      width: 300px;
      height: 52px;
      font-weight: 500;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .team-content {
    flex: 1 0 100%;
  }
}

.team-summary-content {
  background-color: $white;
  display: inline;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  align-self: stretch;
  .team-image {
    img {
      width: 100%;
      height: 650px;
      @include media-breakpoint-up(md) {
        height: 400px;
      }    

      @include media-breakpoint-up(lg) {
        height: 530px;
      }    
      object-fit: cover;
    }
  }
}