---
title: Contact
layout: default
bodyClass: page-contact
---


<div class="strip pt-2 pt-md-6">
    <div class="container pt-2 pt-md-4">
      <div class="row justify-content-center">
        {% assign promoted_teams = site.team | where: "promoted", true | sort: "weight" %}
        {% for feature in promoted_teams %}
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="feature" style="background-color: #E6F4F1">
            {% if feature.image %}
            <div class="feature-image">
                <picture>
                    <source srcset="{{ feature.image | relative_url }}.webp" type="image/webp">
                    <source srcset="{{ feature.image | relative_url }}.jpg" type="image/jpeg">
                    <img alt="{{ feature.title }} logo" src="{{ feature.image | relative_url }}.jpg">
                </picture>                                  
            </div>
            {% endif %}
            <h2 class="feature-title">{{ feature.title }}</h2>
            <div class="feature-content">
                <div class="pb-1">
                    <a href="tel:{{ feature.phone }}">{{ feature.phone }}</a>
                </div>
                <a href="mailto:{{ feature.email }}">{{ feature.email }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
  
      </div>
    </div>
</div>  

<div class="container pb-6 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <div class="content mt-2">{{content}}</div>
            </div>
        </div>
    </div>
</div>