---
title: Graus de Liberdade - Psicoterapia e Neuropsicologia
layout: default
bodyClass: page-home
---

<div class="intro">
  <div class="container">
    {% if page.intro_image %}
    <div class="col-12 col-lg-8 position-relative mx-auto mt-2 mt-lg-4 mb-4">
      <img alt={{ page.title }}
        class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
        src="{{ page.intro_image | relative_url }}" />
    </div>
    {% endif %}
    <div class="row justify-content-center" style="text-align: center">
      <div class="col-12 mt-4 mb-4">
        {{ content }}
      </div>
      <video class="background" loop muted autoplay preload="auto">
        <source src="{{ page.intro_video }}" type="video/mp4">
      </video>
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container pt-4 pt-md-6">
    <div class="row justify-content-center">
      {% assign promoted_teams = site.team | where: "promoted", true | sort: "weight" %}
      {% for team in promoted_teams %}
      <div class="col-12 col-md-6 col-lg-4 pb-4">
        <div class="team-summary-home pb-2"><a href="{{ site.baseurl }}/team/#{{team.header}}">
          <div class="team-meta">
              {% if team.image %}
              <div class="team-image">
                <picture>
                    <source srcset="{{ team.image_home | relative_url }}.webp" type="image/webp">
                    <source srcset="{{ team.image_home | relative_url }}.jpg" type="image/jpeg">
                    <img alt="{{ team.title }}" class="img-fluid pb-2" src="{{ team.image_home | relative_url }}.jpg">
                </picture>                          
              </div>
              {% endif %}
              <h2 class="team-name">{{ team.title }}</h2>
              <p class="team-description">{{ team.jobtitle }}</p>
              {% if team.linkedinurl %}
              <a href="{{ site.baseurl }}/team/#{{team.header}}">Biografia</a>
              {% endif %}
          </div>
        </div></a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container pt-4 pt-md-8 pb-4">
    <div class="row justify-content-center pb-4">
      <div class="col-auto">
        <a class="button button-primary" href="{{site.baseurl}}/services/">Conheça todos os Serviços</a>
      </div>
    </div>  
    <div class="row justify-content-center">
      {% assign promoted_services = site.services | where: "featured", true | sort: "weight" %}
      {% for service in promoted_services %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature d-flex justify-content-center"><a href="{{ site.baseurl }}/services/#{{service.header}}" >
          <h2 class="feature-title mt-0 mb-0 mt-md-1 mb-md-1">
            <a class="align-items-center" href="{{site.baseurl}}/services/#{{service.header}}">{{ service.title }}</a>
          </h2>
        </div></a>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container pb-4 pb-md-6">
    {% include carousel.html duration="7" %}
  </div>
</div>