---
layout: default
bodyClass: page-team-list
---

{% assign promoted_teams = site.team | where: "promoted", true | sort: "weight" %}
{% for team in promoted_teams %}
{% assign order_column = team.weight | modulo:2 %}
{% if order_column == 1 %}
<div id="{{team.header}}" class="strip pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 order-2 order-md-1">
                <h1>{{team.title}}</h1>
                {{ team.content }}
            </div>
            <div class="col-12 col-md-5 order-1 order-md-2 pb-3 pb-md-0">
                <div class="team-summary-content team-image">
                    <div class="team-image">
                        <img alt="{{ team.title }}" class="img-fluid" src="{{ team.image | relative_url }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div id="{{team.header}}" class="strip-grey pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 order-2 order-md-2">
                <h1>{{team.title}}</h1>
                {{ team.content }}
            </div>
            <div class="col-12 col-md-5 order-1 order-md-1 pb-3 pb-md-0">
                <div class="team-summary-content team-image">
                    <div class="team-image">
                        <img alt="{{ team.title }}" class="img-fluid" src="{{ team.image | relative_url }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}